/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&family=Pacifico&family=Paytone+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */
*{
    margin:auto;
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

header{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    gap:15px;
    padding:15px;
    flex-wrap: wrap;
    align-items: center;
}

header img{
    width: 130px;
}

header > a{
    margin: 0;
}

header ul{
    list-style: none;
    padding: 0;
    gap: 25px;
    display: flex;
}

header li{
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: #000000;
}

.page-contact-header{
    color: #CC3900;
}

header > nav a:hover{
    color: #CC3900;
    transition: 0.3s ease-in-out;
}

header div{
    display: flex;
    gap: 20px;
}

header > div > a{
    gap: 20px;
    color: #CC3900;
}
/* MAIN */

.contact{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.contact h1{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 45px;
    font-weight: 400px;
    margin-bottom: 20px;
}

.p1{
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.divmain{
    display: flex;
    margin-bottom: 20px;
}

main i{
    margin: 0;
    color: #CC3900;
}

.seconde{
    margin: 0 15px;
}

.p2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.titreprt1{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}








/* FOOTER */

footer{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    gap:15px;
    padding:15px;
    flex-wrap: wrap;
    align-items: center;
}

footer img{
    width: 130px;
}

footer ul{
    list-style: none;
    padding: 0;
    gap: 25px;
    display: flex;
}

footer li{
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}

footer a{
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.page-contact-footer{
    color: #CC3900;
}

footer > nav a:hover{
    color: #CC3900;
    transition: 0.3s ease-in-out;
}

footer div{
    display: flex;
    gap: 20px;
}

footer > div > a{
    gap: 20px;
    color: #CC3900;
}

.copyright{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.copyright > p{
    padding: 0;
    margin: 0;
}

.copyright > a{
    padding: 0;
    margin: 0;
}