/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&family=Pacifico&family=Paytone+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */
*{
    margin:auto;
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

header{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    gap:15px;
    padding:15px;
    flex-wrap: wrap;
    align-items: center;
}

header img{
    width: 130px;
}

header > a{
    margin: 0;
}

header ul{
    list-style: none;
    padding: 0;
    gap: 25px;
    display: flex;
}

header li{
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: #000000;
}

.page-accueil{
    color: #CC3900;
}

header > nav a:hover{
    color: #CC3900;
    transition: 0.3s ease-in-out;
}

header div{
    display: flex;
    gap: 20px;
}

header > div > a{
    gap: 20px;
    color: #CC3900;
}

/* MAIN */

.accueil-section1{
    max-width: 1440px;
    margin: auto;
    padding: 40px 15px;
    align-items: center;
    background-image: url(/img/background-saison1.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position-x: 760px;
    background-position-y: -110px;
}

.bienvenue{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ligne-texte {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 130px;
    margin: 0;
    padding: 0px 0px 0px 10px;
}

.ligne-texte hr {
    flex: 1;
    border: none;
    border-top: 2px solid #CC3900;
}

.ligne-texte span{
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: #CC3900;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.accueil-section1 h1{
    padding: 40px 0px 20px 0px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
}

.accueil-section1 h2{
    padding: 28px 0px 20px 0px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.accueil-section1 p{
    padding: 10px 0px 40px 0px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 65%;
    margin: 0;
}

.accueil-section1 a{
    padding: 13px 25px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border: 1px solid #FBBBCD;
}

.accueil-section1 a:hover{
    background-color: #CC3900;
    transition: 0.7s ease-in-out;
}

.accueil-article2 img{
    width: 450px;
}

.galerie-section2{
    max-width: 1440px;
    margin: auto;
}

.galerie-section2 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.galerie-article2 div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 250px;
}

.galerie-article2 div img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image5{
    grid-column: 1/3;
    grid-row: 2;
}

.image6{
    grid-column: 3/5;
    grid-row: 2;
}

.galerie-article1{
    background-color: #FBBBCD;
    padding: 0px 30px;
}

.galerie-article1 h2{
    padding: 0px 0px 70px 0px;
    font-size: 39px;
    font-weight: 400;
    font-family: "Gloria Hallelujah", cursive;
}
.galerie-article1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding:0px 0px 30px 0px;
}

.btn-galerie{
    padding: 10px;
    color: black;
}

.nos-oeuvres-section3{
    max-width: 1440px;
    margin:auto;
    padding: 15px;
}

.nos-oeuvres-section3 .div2-section3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nos-oeuvres-section3 > .div2-section3 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.div1-section3{
    display: flex;
    align-items: center;
}

.div1-section3 h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

.div1-section3 a{
    border: 1px solid #FBBBCD;
    background-color: #FFFFFF;
    padding: 13px 25px;
    text-decoration: none;
    color: black;
    margin: 0;
    margin-left: 530px;
}

.div1-section3 a:hover{
    background-color: #CC3900;
    transition: 0.7s ease-in-out;
}

.div2-section3 h3{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.div2-section3 p{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}

.nos-artistes-section4{
    max-width: 1440px;
    margin: auto;
    padding: 80px 50px 85px;
    background-color: #F7F7F7;
}

.nos-artistes-section4 h2{
    font-size: 45px;
    font-family: "Gloria Hallelujah", cursive;
    margin-bottom: 35px;
    text-align: center;
    font-weight: 400;
}

.div1-section4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.div2-section4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.nos-artistes-section4 div img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.nos-artistes-section4 h3{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0px 0px;
}

.nos-artistes-section4 p{
    padding: 42px 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.nos-artistes-section4 a{
    border: 1px solid #FBBBCD;
    text-decoration: none;
    color: black;
    padding: 13px 25px;
}

.nos-artistes-section4 a:hover{
    background-color: #CC3900;
    transition: 0.7s ease-in-out;
}

.nos-artistes-section4 i{
    color: #CC3900;
}

.insta2{
    margin-left: 200px;
}

.actualités-section5{
    max-width: 1440px;
    margin: auto;
    padding: 80px 50px 85px;
}

.div2-section5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.div1-section5{
    display: flex;
}

.div1-section5 h2{
    font-size: 45px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    margin: 0;
}

.div1-section5 a{
border: 1px solid #FBBBCD;
    text-decoration: none;
    color: black;
    padding: 13px 25px;
    margin-left: 310px;
}

.div1-section5 a:hover{
    background-color: #CC3900;
    transition: 0.7s ease-in-out;
}

.div2-section5 h3{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0px 0px;;
}

.date1{
    padding: 10px 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.art2{
    width: 100%;
    height: 100%;
}

.actualité-img{
    height: 378px;
    width: 378px;
}

.autre1{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.autre2{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding: 10px 0px 0px;
}

.p1sec5{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.read-more{
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.read-more-mide{
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.contacte-section6{
    background-color: #CC3900;
    max-width: 1440px;
    margin: auto;
    padding: 100px 0px;
    text-align: center;
}

.contacte-section6 h2{
    font-size: 45px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 55%;
    line-height: 45px;
    margin-bottom: 50px;
}

.contacte-section6 p{
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 55%;
}

.contacte-section6 a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 25px;
    border: 1px solid #FBBBCD;
}

.contacte-section6 a:hover{
    background-color: #FBBBCD;
    transition: 0.7s ease-in-out;
}

/* FOOTER */

footer{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    gap:15px;
    padding:30px;
    flex-wrap: wrap;
    align-items: center;
}

footer img{
    width: 130px;
}

footer ul{
    gap: 25px;
    display: flex;
    list-style: none;
    padding: 0;
}

footer li{
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.page-accueil-footer{
    color: #CC3900;
}

footer > nav a:hover{
    color: #CC3900;
    transition: 0.3s ease-in-out;
}

footer div{
    display: flex;
    gap: 20px;
}

footer > div > a{
    gap: 20px;
    color: #CC3900;
}

.copyright{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.copyright > p{
    padding: 0;
    margin: 0;
}

.copyright > a{
    padding: 0;
    margin: 0;
}